/* Write your code here. */
.bg {
  color: white;
  font-family: "Roboto";
  text-align: center;
}
.small {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  background-color: #fbbf24;
  border-radius: 3px;
  font-family: "Bree Serif";
  margin: 10px;
}

.medium {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  background-color: #38bdf8;
  border-radius: 3px;
  font-family: "Bree Serif";
  margin: 10px;
}
.big {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 450px;
  background-color: #ec4899;
  border-radius: 3px;
  font-family: "Bree Serif";
  margin: 10px;
}

.heading {
  color: black;
}
.card {
  display: flex;
  align-items: flex-end;
}
